<div class="field">
  <label>Start Button Label</label>
  <input type="text" name="start_button_label" value="Click here to login">
  <p>You click the Start button to show the login diaolog box. This setting lets you change the button label.</p>
</div>

<h3 class="ui header">Configure your login window</h3>
<div class="field">
  <label>Login Header</label>
  <input type="text" name="header_text" value="Please type your username and password">
</div>
<br/>
<div class="field">
  <label>Username Label</label>
  <input type="text" name="username_label" value="Username">
</div>
<br/>
<div class="field">
  <label>Username Label</label>
  <input type="text" name="username_placeholder" value="Type your username here">
</div>
<br/>
<div class="field">
  <label>Password Label</label>
  <input type="text" name="password_label" value="Password">
</div>
<br/>
<div class="field">
  <label>Login Button Label</label>
  <input type="text" name="login_button_label" value="Login">
</div>
<br/>
<div class="field">
  <label>Correct Password</label>
  <input type="text" name="correct_password" value="123qaz">
</div>
<br/>
<div class="field">
  <label>Maximum number of retries</label>
  <input type="text" name="max_retries" value="3">
</div>

<br/>

<h3 class="ui header">Configure your response dialogs</h3>
<div class="field">
  <label>Access Denied Text</label>
  <input type="text" name="access_denied_text" value="Access Denied!">
  <p>This is the text that will be shown if you type the wrong password.</p>
</div>
<br/>
<div class="field">
  <label>Access Granted Text</label>
  <input type="text" name="access_granted_text" value="Access Granted!">
  <p>This is the text that will be shown if you type the correct password.</p>
</div>
<br/>

