<div class="ui container">
  <%= render partial:'shared/save_confirmation', 
    locals: { 
      permalink: permalink, 
      edit_url: edit_url
    } 
  %>

  <h2>You can further tweak your FX below</h2>
  <div class="ui segment">
    <%= form_tag("/effects/access/#{id}", method: 'patch', class: 'ui form') do %>
      <%= render partial:'form', locals:{config: config} %>
      <button class="ui button" type="submit">Save and Show</button>
    <% end %>
  </div>
</div>