<div class="ui container">
<h1 class="ui header">Your progress bar has been saved to the AwesomeFX Library</h1>
  <div class="ui segment">
    <h3>Take note of these links</h3>
    <p><%= link_to("Permalink", permalink) %></p>
    <p><%= link_to("Edit link", edit_url) %></p>
  </div>

  <h2>You can further tweak your FX below</h2>
  <div class="ui segment">
    <%= form_tag("/effects/access/#{id}", method: 'patch', class: 'ui form') do %>
      <%= render partial:'form', locals:{config: config} %>
      <button class="ui button" type="submit">Save and Show</button>
    <% end %>
  </div>
</div>