<h1 class="ui header">Your progress bar has been saved to the Movie Effects Library</h1>
<div class="ui segment">
  <h3>Take note of these links</h3>
  <p><%= link_to("Permalink", permalink) %></p>
  <p><%= link_to("Edit link", edit_url) %></p>
</div>